<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
	      <div class="col-xs-8 col-sm-6">
	        <h2 class="text-right">
	        	Bootcamp Reactions<br>
	        	<small>About this app</small>
	        </h2>
	        <hr>
					<p class="text-right">We've all been there.  Stuck in class, listening to an instructor, and posting funny gifs in Slack.  Well, now you don't have to!  And you can share your best coding bootcamp reactions with your global community! So join in the fun and add to the list!</p>
				</div>
	      <div class="col-xs-4 col-sm-6">
	        <h2 class="about">
	        	Erin Mahoney<br>
	        	<small>About this developer</small>
	        </h2>
	        <hr>
					<p>Erin Mahoney is a fine artist and web developer who currently resides in San Francisco, CA.  She enjoys coding, photography, good jokes, and eating warm cookies.</p>
					<p>You can find out more of Erin's projects <a target="_blank" ng-href="http://erinmahoneydev.com/">here.</a></p>
	      </div>
	    </div>
		</div>
	</div>
</div>