<h1>Bootcamp Reactions</h1>
<hr>
<form ng-submit="searchGif()" class="form-inline">
	<div class="form-group">
		<input class="form-control" type="text" ng-model="tag" placeholder="Search for a gif reaction">
	</div>
	<input type="submit" value="Search" class="btn btn-success">
</form>
<br>
<br>
<div class="row" ng-show="gifs.length > 0">
	<div class="col-md-3" ng-repeat="gif in gifs track by $index">
		<div class="thumbnail">
			<img ng-src="{{ gif.images.fixed_height.url }}">
			<br>
			<p>
				<a class="center-block" href="#" data-gif-index="{{$index}}" ng-click="saveGif(gif)">{{saveText}}</a>
			</p>
		</div>
	</div>
</div>