<h1>Bootcamp Reactions</h1>
<hr>
<form ng-submit="searchGif()" class="form-inline">
	<div class="form-group">
		<input class="form-control" type="text" ng-model="tag" placeholder="Search for a gif reaction">
	</div>
	<input type="submit" value="Search" class="btn btn-success">
</form>
<br>
<br>
<div class="row" ng-show="gifs.length > 0">
	<div class="col-md-3 text-center" ng-repeat="gif in gifs">
		<div class="thumbnail">
			<img class="img-responsive" ng-src="{{ gif.images.fixed_height.url }}">
			<br>
			<a href="#" ng-show="!saved" ng-click="show = !show">Share</a>
			<a ng-href="/" ng-show="saved">View the list!</a>
			<br>
			<br>
			<br>
			<form ng-show="show" ng-submit="saveGif(gif, title)" class="form-inline">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="title" placeholder= "Title your reaction!">
					<input type="submit" value="Add" ng-click="show = false; saved = true">
				</div>
			</form>
			
		</div>
	</div>
</div>
